<h2 id="personl">Person list</h2>
<center><ul>
  {{#each personlist}}
  <div class="ri">
    <li style = "text-transform:capitalize;"><a class="lelink" href=staff/{{this.name}}>{{this.name}}</a></li>
  </div>
  {{/each}}
</ul>
</center>