<aside>
  <h2 id ="_whatis">What is this Website ?</h2>
  <div class="newsWidget">
    {{#each partials.newsContext}}
    <div id = "divnews">
      {{body}}
    </div>
    {{/each}}
    
  </div>

</aside>